/* app css stylesheet */
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway:400,600,700');
body{
  font-family: 'Open Sans', sans-serif;
}
h1, h2,h3,h4,h5{
  font-family: 'Raleway', sans-serif;
  font-weight:700;
  color:#991904;
}
a{
  color:#991904;
}
.modal{
 background:url(images/map-overlay.png) repeat;   
}
.btn-primary{
  background-color:#991904;
  border-color:#991904;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active{
  background-color:#991904;
  border-color:#991904;
}
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}
.mainwrapper{
	padding:40px 15px 40px 15px;
}
.img-thumbnail{
  height:80px;
  cursor:pointer;
}
.img-row{
  margin:10px 0px;
}
.img-responsive{
  width:100%;
}
.banner{
  position:relative;
  height:491px;
}
@media only screen and (max-width: 1024px) {
    .banner{
        height:auto;
    }
    .car-desc{
      display:none;
    }
}
.car-desc{
  position: relative;
    top: -65%;
    right: 15%;
    float: right;
    color:#f5f5f5;
    width:100%;
    max-width: 414px;
}
.car-desc h1{
  color:#101010;
  text-shadow: 0 0 10px #e1e1e1;
}
footer{
	background:#222;
	padding:10px;
	color:#fff;
}
.navbar
{
  background-color: #f3f3f2;
  border-color:#f5f5f5;

}

  @media only screen and (min-width: 720px) {
    #navbar{
  float:right;
}
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color:#991904;
    background-color: #f3f3f2;
}
.navbar-inverse .navbar-nav > li > a {
    color: #000;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li > a.active{
   color:#991904;
}
.navbar-brand{
  background: -webkit-linear-gradient(#991904, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Raleway', sans-serif;
  font-weight:700;
 
}
.carousel-caption h1 {
   
   color:#f5f5f5 !important;
}
footer a{
  color:#fff;
}
 @media only screen and (min-width: 720px) {
  .navbar-brand{
     font-size:29px;
  }
  }
.product{
  margin-bottom:50px;
  background-color: #f3f3f2;
  box-shadow: 0 0 10px rgba(0,0,0,0.6);
-moz-box-shadow: 0 0 10px rgba(0,0,0,0.6);
-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
-o-box-shadow: 0 0 10px rgba(0,0,0,0.6);
}
.product a img{
  width:100%;
  height:245px;
  margin-bottom:30px;

}
.angular-google-map-container {
        height: 491px;
          position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
}
.product-desc{
  padding:0px 20px 30px 20px;
}
.search-wrapper
{
    display:inline;
}
#searchbox{
    height: 35px;
    margin-top: 8px;
    padding-left: 5px;
}
.search-btn{
    border-radius:0px;
}
/* The Modal (background) */
.modal1 {
  
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.list-group {
   
    margin-top: 30px;
   
}
.list-row{
  border-bottom:1px solid #ccc;
  padding-top:23px;
}
.list-img{
  width:150px;
  height:auto;
}
.list-group-item{
    cursor: pointer;
}
.srchicon
{
    color:#991904;
    margin-left: -18px;
}
.sort{
    float:right;
    margin:20px;
}
.filter-close{
  cursor: pointer;
}