<div id="banner" class="banner">
  <img  src="images/jewelry-box-2093019_1280.jpg" alt="Third slide" class="img-responsive">
  <div class="car-desc">
    <h1>The treasure of your life</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, </p>
  </div>
</div>
<div class="container mainwrapper">
    <h1>Products</h1>
    <div class="row">
       <div class="col-md-3">
         <h4>Filter By</h4>
           <h5 ng-hide="catName == null"> Selected Category: {{ catName }} <span class="filter-close" ng-click="closeFilter()">   <i class="fa fa-times-circle" aria-hidden="true"></i></span></h5>

           <ul class="list-group">
              <li class="list-group-item" ng-repeat="category in categories" ng-click="sortProductCat( category.id )">{{category.name}}</li>
           </ul>
          <div class="well">
            <h4>Price</h4>
          
            <input type="range" name="range" ng-model="priceValue" min="{{min}}"  max="{{max}}" ng-change="sortPriceFilter(priceValue)">
            <div class="row"><div class="col-xs-4">{{min | currency}}</div><div class="col-xs-4 text-center">{{priceValue | currency}}</div><div class="col-xs-4 text-right">{{max | currency}}</div></div>  
               
          </div>
           
      </div>  
      <div class="col-md-9">
          <div class="row">
          <div class="col-xs-6">
            <div class="glview">
            <a ui-sref=".list"><i class="fa fa-list" aria-hidden="true"></i></a>
            <a ui-sref=".grid"><i class="fa fa-th" aria-hidden="true"></i></a>
            <!--<a ui-sref=".detail({ productId: 1 })">View Details</a>-->
            </div>
            </div>
            <div class="col-xs-6">
              <div class="sort">
                  Sort By:
                  <select ng-model="sort" class="" ng-change="sortProduct(sort)">
                      <option value="">Select</option>
                      <option value="new">Newest</option>
                      <option value="low">Price Low to High</option>
                      <option value="high">Price High to Low</option>

                 </select>
              </div>
              </div>
         </div>
          <div class="row">
              <div ng-repeat="product in products">
                <div ui-view="layout"></div>
              </div>
              <div ng-hide="products.length">No products found.</div>
        </div>
    </div>
</div>
